body {
}

/* #region account */
.account {
    margin-bottom: 40px;
}
/* #endregion */

/*#region account-us-form */
.account-us-form .form-row {
    margin-bottom: 10px;
}

    .account-us-form .form-row input {
        height: 40px;
        border: 1px solid #808080;
        border-radius: 5px;
        background-color: #fff;
    }

        .account-us-form .form-row input:focus {
            background-color: rgba(130, 214, 178, 0.78);
            box-shadow: none;
        }

        .account-us-form .form-row input::placeholder {
            font-size: 13px;
        }

/*#endregion */

/* #region account-tab-home */
#account-tab-home {
    margin: 0;
}

    #account-tab-home .nav-tabs {
    }

        #account-tab-home .nav-tabs li a {
            padding: 20px 0;
            text-transform: uppercase;
            font-family: 'Comfortaa', cursive;
            color: #2c4f20;
            background-color: #ebebeb;
            border-radius: 0;
            border-bottom: 4px solid #82d6b2;
        }

            #account-tab-home .nav-tabs li a.active,
            #account-tab-home .nav-tabs li a:hover {
                color: #82d6b2;
                background-color: #fff;
                border-bottom: 4px solid #fff;
            }

    #account-tab-home .tab-content {
        text-align: justify;
        font-size: 18px;
        line-height: 50px;
    }

/* #endregion account */

/*#region animation */
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translate(400px);
    }
}

@keyframes moveInRight2 {
    0% {
        opacity: 0;
        transform: translate(400px);
    }

    70% {
        transform: translate(-20px);
    }

    85% {
        transform: translate(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/*#endregion */

/*#region buttonMain */
.buttonMain {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

    .buttonMain .btn {
        border: 1px solid #ced4da;
        border-radius: 3px;
        text-transform: uppercase;
        padding: 5px 20px;
        background: #ebebeb;
    }

        .buttonMain .btn:hover {
            background: #82d6b2;
        }

        .buttonMain .btn a {
            font-weight: 400;
            font-size: 18px;
            text-decoration: none;
            color: #000;
        }
/*#endregion */

/*#region buttonDetail */

.buttonDetail {
    margin-top: 20px;
    margin-bottom: 50px;
}

    .buttonDetail .btn {
        border: 1px solid #ced4da;
        border-radius: 3px;
        padding: 5px 20px;
        width: 100%;
    }

        .buttonDetail .btn:hover {
            opacity: 0.7;
        }

        .buttonDetail .btn a {
            font-weight: 600;
            font-size: 16px;
            text-decoration: none;
            color: #fff;
        }
/*#endregion */

/*#region carouselExampleIndicators */

#carouselExampleIndicators {
}

#carouselExampleIndicators .carousel-inner {
        justify-content: center;
        align-items: center;
        height: 590px;
    }

    #carouselExampleIndicators .carousel-inner .carousel-item {
        }

        #carouselExampleIndicators .carousel-inner .carousel-item img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }

            #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption {
                top: 22%;
                animation-name: moveInRight;
                animation-duration: 2s;
            }

            #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h1 {
                    font-weight: 800;
                }

                #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h1 span {
                        font-weight: 600;
                        font-size: 40px;
                    }
 #carouselExampleIndicators .btn {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: rgba(130, 214, 178, 0.78);
        animation-name: moveInRight2;
        animation-duration: 3s;
    }

    #carouselExampleIndicators .btn:hover {
            background: #427c63;
        }

        #carouselExampleIndicators .btn a {
            font-weight: 600;
            font-size: 20px;
            text-decoration: none;
            color: #fff;
        }

/*#endregion */

/*#region care-list */
.care-list {
    margin-top: 40px;
}

    .care-list .container {
        max-width: 1100px;
        margin: auto;
        overflow: auto;
        padding: 0 2rem;
    }

        .care-list .container h2 {
            font-family: 'Comfortaa', cursive;
            text-transform: uppercase;
            font-size: 2rem;
            text-align: center;
            padding-top: 2rem;
            margin-bottom: 2rem;
            line-height: 1.8;
        }

            .care-list .container h2 span {
                color: #82d6b2;
            }
/*#endregion */

/*#region care-detail */
.care-detail {
    margin-top: 40px;
    margin-bottom: 3rem;
}

    .care-detail .container {
        max-width: 1100px;
        margin: auto;
        overflow: auto;
        padding: 0 2rem;
    }

        .care-detail .container h2 {
            font-family: 'Comfortaa', cursive;
            text-transform: uppercase;
            font-size: 2rem;
            text-align: center;
            padding-top: 2rem;
            line-height: 1.8;
        }

        .care-detail .container .row {
            padding-top: 40px;
        }

/*#endregion */

/*#region cart-buttons */
.cart-buttons{
    margin-top: 60px;    
}

.cart-buttons button{
    margin-top: 30px;
        
}

.cart-buttons .button-default {
    width: 151px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    text-transform: uppercase;
    height: 40px;
    line-height: 38px;
    font-size: 13px;
    color: #333333;
    background-color: rgb(38, 168, 129);
    border: 1px solid #333333;
}

.cart-buttons .button-default:hover {    
    opacity: 0.7;
}
/*#endregion */

/*#region continue-shop */
.continue-shop {
    margin: 10px 0;
}

.continue-shop a{
    color: #000;
    text-decoration: none;
    outline: none;
}

.continue-shop a:hover{
    color: rgb(12, 151, 109);    
}
/*#endregion*/

/*#region content*/
#content{
}

#content .container{
    display: flex;
}

#content .main{

}

#content .main .section-header{
    margin: 55px 0;
}

#content .main .section-content {

}

#content .main .section-content .information{
    display: table;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1.5em;
    margin-bottom: 50px;
}

#content .main .section-content .information .information-avatar-wrapper{
    display: flex;
    float: left;
    margin-right: 20px;
}

#content .main .section-content .information .information-avatar-wrapper .information-avatar{
    width: 70px;
    height: 70px;
    position: relative;
    background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
    border-radius: 100%;
}

#content .main .section-content .information .information-avatar-wrapper .information-avatar i{
    font-size: 70px;   
}

#content .main .section-content .information p{
    margin-top: 10px;
    color: dimgrey;
}

#content .main .section-content .information a{
    text-decoration: none;
}

#content .main .section-content .fieldset{
    margin-bottom: 50px;

}

#content .main .section-content .fieldset .field {
    width: 100%;
    float: left;
    padding: 0.45em;
    box-sizing: border-box;
}

#content .main .section-content .fieldset .field .field-input-wrapper {
    position: relative;
}

#content .main .section-content .fieldset .field .field-input-wrapper .field-label {
    transform: none;
    opacity: 1;
    font-weight: normal;
    position: absolute;
    top: 0;
    font-size: 14px;
    padding: 0 0.355rem;
    overflow: hidden;
    color: #999999;
}

#content .main .section-content .fieldset .field .field-input-wrapper .field-input {
    padding-top: 1.5em;
    padding-bottom: 0.38em;
    border: 1px solid #808080;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    word-break: normal;
    transition: all 0.2s ease-out;
    padding-left: 4px;
}

#content .main .section-title {
    margin-top: 380px;
}

#content .main .section-checkouts {
    margin-top: 30px;
}

#content .main .section-checkouts .content-box {
  
}

#content .main .section-checkouts .content-box .content-box-row {
  
}

#content .main .section-checkouts .content-box input{
    
}

#content .main .section-checkouts .content-box .radio-wrapper{
    height: 50px;
}

#content .main .section-checkouts .content-box .radio-input {
    margin-right: 20px;
    display: table-cell;
    float: left;
    justify-content: center;
    align-items: center;
}

#content .main .step-footer {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    margin-top: 1.5em;
}

#content .main .step-footer .btn{
    font-size: 18px;
    float: right;
    border-radius: 4px;
    font-weight: 500;
    padding: 1.4em 1.7em;
    box-sizing: border-box;
    text-align: center;
    background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
    color: white;
}

#content .main .step-footer .btn:hover{
    background-image: linear-gradient(to right, rgb(125, 228, 147), #37ecba 30%, #4795c2 100%);
}

#content .main .step-footer a{
    font-size: 20px;
    text-decoration: none;
    color: #091bb9;
    flex: 1 1 auto;
    float: left;
}

#content .main .step-footer a:hover{   
    color: #77b6cf;
}

#content .sidebar{
    background-color: rgba(204, 201, 201, 0.199);

}

#content .sidebar .sidebar-content{
    margin: 55px 0;
}

#content .sidebar .sidebar-content .order-summary-sections {
    margin: 40px 0;
}

#content .sidebar .sidebar-content .order-summary .product .product-image .product-thumbnail {
    width: 4.6em;
    height: 4.6em;
    border-radius: 8px;
    background: none;
    position: relative;
}

#content .sidebar .sidebar-content .order-summary .product .product-image .product-thumbnail .product-thumbnail-wrapper {
   
}

#content .sidebar .sidebar-content .order-summary .product .product-image .product-thumbnail .product-thumbnail-wrapper .product-thumbnail-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

#content .sidebar .sidebar-content .order-summary .product .product-image .product-thumbnail .product-thumbnail-quantity {
    font-size: 15px;
    font-weight: 500;
    padding: 2px 10px;
    border-radius: 2em;
    background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
    color: #fff;
    position: absolute;
    right: -0.60em;
    top: -0.2em;
    z-index: 2;
}

#content .sidebar .sidebar-content .order-summary .product .product-description {
    width: 100%;
    padding-left: 10px;
}

#content .fieldset {
    margin: -0.45em;
    zoom: 1;
}

#content .fieldset .field {
    width: 100%;
    float: left;
    padding: 0.45em;
    box-sizing: border-box;
}

#content .fieldset .field .field-input-btn-wrapper {
    display: flex;
}

#content .fieldset .field .field-input-btn-wrapper .field-input-wrapper {
    flex-grow: 1;
    position: relative;
}

#content .fieldset .field .field-input-wrapper .field-input {
    box-shadow: 0 0 0 1px #d9d9d9;
    transition: all 0.2s ease-out;
    background-color: white;
    color: #333333;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.94em 2.8em 0.94em 0.8em;
    word-break: normal;
}

#content .fieldset .field .field-input-btn-wrapper .field-input-btn {
    width: auto;
    margin-left: 0.9em;
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 0;
}

#content .fieldset .field p {
    display: block;
    margin: 0.75em 0 0.25em;
    transition: all 0.3s ease-out;
    line-height: 1.3em;
    color: #ff6d6d;
}

#content .sidebar .btn-disabled {
    cursor: default;
    background: #c8c8c8;
    box-shadow: none;
}

#content .sidebar .sidebar-content .order-summary .order-summary-sections .order-summary-section {
    max-height: 250px;
    border-top: 1px solid;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-color: #e1e1e1;
}


#content td:first-child, th:first-child {
    padding-left: 0;
    text-align: left;
}
#content .total-line-table{
    width: 100%;
}

#content .total-line-table-footer .total-line td {
    padding-top: 3em;
    position: relative;
}

#content td:last-child, th:last-child {
    text-align: right;
}

#content .payment-due .payment-due-currency {
    font-size: 0.85714em;
    vertical-align: 0.2em;
    margin-right: 0.5em;
    color: #969696;
}

#content .payment-due .payment-due-price {
    font-size: 1.71429em;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: #4b4b4b;
    line-height: 1em;
}

/*#endregion*/

/*#region checkout*/
#checkout{
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}
/*#endregion*/

/*#region contact */
.contact {
    margin: 40px auto;
}

    .contact .container {
        margin: auto;
        overflow: auto;
        padding: 0 2rem;
    }

        .contact .container h2 {
            font-family: 'Comfortaa', cursive;
            text-transform: uppercase;
            font-size: 1.8rem;
            padding: 1.5rem 0;
            line-height: 1.8;
        }

        .contact .container .contact-left iframe {
            width: 100%;
            height: 400px;
        }

        .contact .container .contact-right address {
            padding-bottom: 10px;
            border-bottom: 1px dotted #808080;
        }
/*#endregion */

/*#region contact-us-form */
.contact-us-form .form-row {
    margin-bottom: 10px;
}

    .contact-us-form .form-row input {
        height: 40px;
        border: 1px solid #808080;
        border-radius: 5px;
        background-color: #fff;
    }

.contact-us-form .controls textarea {
    height: 170px;
    border: 1px solid #808080;
    border-radius: 5px;
    background-color: #fff;
}

    .contact-us-form .form-row input:focus,
    .contact-us-form .controls textarea:focus {
        background-color: rgba(130, 214, 178, 0.78);
        box-shadow: none;
    }

    .contact-us-form .form-row input::placeholder,
    .contact-us-form .controls textarea::placeholder {
        font-size: 13px;
    }

/*#endregion */

/*#region footer */
footer {
    background-color: #295e47;
    color: #fff;
}

    footer .container {
    }

        footer .container .row {
            padding-top: 25px;
        }

            footer .container .row .widget-wrapper {
                padding-top: 20px;
                color: #fff;
            }

            footer .container .row .inner {
                font-size: 15px;
            }

                footer .container .row .inner .search {
                }

                    footer .container .row .inner .search button,
                    footer .container .row .inner .search input[type='text'] {
                        border: 1px solid #ced4da;
                        box-shadow: none !important;
                    }

    footer .social ul {
        list-style: none;
    }

        footer .social ul li {
            float: left;
            width: 40px;
            height: 40px;
            margin: 0 5px;
            text-align: center;
            line-height: 40px;
            border-radius: 5px;
            border: 1px solid #fff;
        }

            footer .social ul li:hover {
                background-color: #bd4a4a;
            }

            footer .social ul li a {
                color: #fff;
                font-size: 20px;
                display: block;
                width: 100%;
                height: 100%;
            }
/*#endregion */

/*#region heading */

main h1 {
    font-size: 70px;
}
/*#endregion */

/*#region header */

header {
}

    header .container {
        background-color: rgba(255, 255, 255, 0) !important;
    }

        header .container img {
            width: 100%;
            height: 100%;
            max-width: 100px;
        }

    header .collapse a {
        color: #2c4f20;
        padding-left: 40px;
        font-size: 13px !important;
        text-decoration: none;
    }

        header .collapse a:hover {
            color: #82d6b2;
        }

    header .collapse .icion {
        font-size: 50px !important;
    }
/*#endregion */

/* #region hero*/
.hero {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    padding-top: 67px;
    padding-bottom: 73px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/account/photo-of-succulent-plants-1903969.jpg);
    background-position: center;
    background-size: cover;
}

    .hero .form-box {
        width: 380px;
        height: 520px;
        margin: 6% auto;
        background-color: #fff;
        padding: 5px;
        position: relative;
        box-shadow: 0 0 40px 20px #000;
        animation-name: moveInRight2;
        animation-duration: 2s;
    }

    .hero .form-box .recover-password {
        margin-top: 15px;
        text-align: center;
        color: rgb(12, 151, 109);
    }

    .hero .form-box .recover-password a{
        text-decoration: none;
        color: rgb(12, 151, 109);
    }

    .hero .nav-tabs {
        border: none;
    }

    .hero .nav-tabs li a {
            padding: 20px 0;
            border-radius: 5px;
            font-family: 'Comfortaa', cursive;
            font-size: 16px;
            color: #000;
            background-color: #fff;
        }

        .hero .nav-tabs li a.active{
                color: #000;
                background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
            }

        .hero .nav-tabs li a:hover {
            border: 1px solid #95e4cd;
        }

    
    .hero .tab-pane {
        top: 120px;
        position: absolute;
        width: 340px;
        transition: 0.2s;
    }

        .hero .tab-pane .input-field {
            width: 100%;
            padding: 10px 0;
            margin: 5px 0;
            border-left: none;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid #999;
            background: transparent;
            outline: none;
        }

           .hero  .submit-btn {
            width: 82%;
            padding: 10px 30px;
            cursor: pointer;
            display: block;
            margin-top: 60px !important;
            margin: auto;
            background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
            border: none;
            outline: none;
            border-radius: 30px;
        }
/* #endregion hero */

/*#region main-carousel */
#main-carousel {
}

#main-carousel .carousel-inner {
  position: relative;
}

#main-carousel .carousel-inner .carousel-item img {
  width: 100%;
}

#main-carousel .carousel-inner .carousel-item img:hover {
    transform: scale(1.2);
    transition: 1s;
  }

#main-carousel .control .fa {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.5);
}

#main-carousel .control .fa:hover {
  color: rgba(255, 255, 255, 1);
}

#main-carousel .thumb {
  margin-top: 10px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 20px;
}

#main-carousel .thumb .col {
  padding-left: 5px;
  padding-right: 5px;
}

#main-carousel .thumb .col img {
  border: 3px solid #fff;
}

#main-carousel .thumb .col.active img {
  border: 4px solid #37ecba;
}
/*#endregion */

/* #region media */
@media (max-width: 500px) {
    .news-content {
        display: block;
    }
}

@media (max-width: 1280px) {
    .carousel-indicators {
        top: 90%;
    }

    .carousel-inner {
    }

        .carousel-inner h1 {
            font-size: 300%;
        }

        .carousel-inner h3 {
            font-size: 150%;
            padding-bottom: 0.2rem;
        }

        .carousel-inner .btn {
            font-size: 70%;
            padding: 8px 14px;
        }
}

@media (max-width: 768px) {
    .carousel-indicators {
        top: 90%;
    }

    .carousel-inner {
    }

        .carousel-inner h1 {
            font-size: 190%;
        }

        .carousel-inner h3 {
            font-size: 120%;
            padding-bottom: 0.2rem;
        }

        .carousel-inner .btn {
            font-size: 30%;
            padding: 8px 14px;
        }

    .carousel .carousel-control-prev {
        top: -45%;
    }

    .carousel .carousel-control-next {
        top: -45%;
    }
}

@media (max-width: 567px) {
    .carousel-indicators {
        top: 90%;
    }

    .carousel .carousel-inner {
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    .carousel-inner img {
        min-height: 250px;
    }

    .carousel-inner .carousel-caption {
        top: 20% !important;
    }

        .carousel-inner .carousel-caption h1 {
            font-size: 200%;
        }

            .carousel-inner .carousel-caption h1 span {
                font-size: 70% !important;
            }

        .carousel-inner .carousel-caption h3,
        .care-detail .container h2 {
            font-size: 140%;
        }

        .carousel-inner .carousel-caption .btn {
            font-size: 100%;
            padding: 4px 8px;
        }

    .carousel .carousel-control-prev {
        top: -5%;
    }

    .carousel .carousel-control-next {
        top: -5%;
    }

    .profile-card .input-group {
        width: auto !important;
    }
}

/*#endregion */

/*#region nav */

nav {
    list-style: none;
    min-height: 50px;
    font-size: 14px;
    background-color: #ced4da;
    padding: 10px !important;
}

    nav a {
        font-weight: 700;
        color: #2c4f20 !important;
    }

        nav a.active,
        nav a:hover {
            color: #82d6b2 !important;
        }

    nav .collapse ul li i {
        float: right;
        padding: 5px 0 0 10px;
    }

    nav .collapse ul li .cod {
        width: 240px;
    }

    nav .search {
    }

        nav .search button,
        nav .search input[type='text'] {
            border: 1px solid #ced4da;
            border-left: none;
            padding-left: 10px;
            background-color: #82d6b2;
            box-shadow: none !important;
        }

            nav .search input[type='text']:focus {
                background-color: #fff;
            }

            nav .search button:hover {
                background-color: #fff;
            }

/*#endregion */

/*#region news-content */

.news-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
}

    .news-content img {
        width: 100%;
        height: 300px;
    }

    .news-content:nth-child(even) img {
        order: 2;
    }

    .news-content .cap {
        padding: 2rem;
    }

        .news-content .cap h4 a {
            color: #333;
            margin-bottom: 2rem;
            text-decoration: none;
        }

            .news-content .cap h4 a:hover {
                color: #82d6b2;
            }

        .news-content .cap .body-content a {
            color: #333;
            margin-bottom: 2rem;
            text-decoration: none;
        }

        .news-content .cap .btn {
            display: inline-block;
            background: #82d6b2;
            color: #fff;
            padding: 0.8rem 1.8rem;
            margin-top: 2rem;
            cursor: pointer;
        }

            .news-content .cap .btn:hover {
                background: #295e47;
            }

/*#endregion */

/*#region pagination*/
.pagination {
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li {
    position: relative;
    display: inline-block;
    margin-right: 5px;
}


.pagination a {
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 5  00;
    color: rgb(249, 246, 250);
    background-image: linear-gradient(to top, #72afd3 0%, #37ecba 50%, #95e4cd 50%);
    border: 1px solid #3d6b57;
    border-radius: 4px;
    transition: .3s ease-in-out;
}

.pagination li a:hover,
.pagination li.active a{
    background-image: linear-gradient(to top,#95e4cd 0%, #37ecba 50%, #72afd3 100%);
    transform: translateY(-8px);
}

.pagination li::before{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 5px;
    background-color: #000;
    filter: blur(2px);
    transition: .3s ease-in-out;
}

.pagination li:hover::before,
.pagination li.active::before{
    filter: blur(4px);
}
/*#endregion*/

/*#region product */
.product {
    margin-top: 40px;
}

    .product ul {
        margin-top: 30px;
        margin-right: 45px;
    }

        .product ul li {
            float: left;
            list-style: none;
            margin-bottom: 50px;
        }
/*#endregion */

/*#region product-list */
.product-list {
    margin-top: 50px;
    min-height: 570px;
}

    .product-list .row ul {
        margin-right: 45px;
    }

        .product-list .row ul li {
            float: left;
            list-style: none;
            margin-bottom: 40px;
        }

    .product-list .row .buttonMain {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }

        .product-list .row .buttonMain .btn {
            border: 1px solid #ced4da;
            border-radius: 3px;
            text-transform: uppercase;
            padding: 5px 20px;
            background: #ebebeb;
        }

            .product-list .row .buttonMain .btn:hover {
                background: #82d6b2;
            }

            .product-list .row .buttonMain .btn a {
                font-weight: 400;
                font-size: 18px;
                text-decoration: none;
                color: #000;
            }
/*#endregion */

/*#region product-detail */
.product-detail {
    margin-top: 40px;
}

    .product-detail .row ul {
        margin-right: 45px;
    }

        .product-detail .row ul li {
            float: left;
            list-style: none;
            margin-bottom: 20px;
        }

    .product-detail .row .buttonMain {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }

        .product-detail .row .buttonMain .btn {
            border: 1px solid #ced4da;
            border-radius: 3px;
            text-transform: uppercase;
            padding: 5px 20px;
            background: #ebebeb;
        }

            .product-detail .row .buttonMain .btn:hover {
                background: #82d6b2;
            }

            .product-detail .row .buttonMain .btn a {
                font-weight: 400;
                font-size: 18px;
                text-decoration: none;
                color: #000;
            }
/*#endregion */

/* #region profile-card */
.profile-card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/account/photo-of-succulent-plants-1903969.jpg);
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 73px;
    background-position: center;
    background-size: cover;
}

    .profile-card .form-box {
        width: 680px;
        height: 820px;
        margin: 6% auto;
        background-color: #fff;
        padding: 5px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 40px 20px #000;
        border-radius: 5px;
        animation-name: moveInRight2;
        animation-duration: 2s;
       
    }

    .profile-card .logo-box {
        width: 100px;
        height: 100px;
        margin: 35px auto;
        position: relative;
        background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
        border-radius: 100%;
    }

    .profile-card .logo-box i{
        font-size: 100px;
    }

    .profile-card .input-group {
        width: 570px;
        top: 120px;
        left: 6px;
        position: absolute;
        transition: 0.5s;        
    }

        .profile-card .input-group .input-field {
            width: 100%;
            padding: 10px 0;
            margin: 5px 0;
            border-left: none;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid #999;
            background: transparent;
            outline: none;
        }

            .profile-card .input-group .toggle-btn {
            cursor: pointer;
            display: block;
            margin-top: 70px !important;
            margin: auto;
            background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
            border: none;
            outline: none;
            border-radius: 30px;
            position: relative;
        }
/* #endregion profile-card */

/*#region right-product */  
.right-product {
    width: 100%;
}

    .right-product h3 {
        color: #333;
        padding-bottom: 20px;
        text-transform: uppercase;
    }

    .right-product p {
        color: #427c63;
        font-size: 30px;
    }

    .right-product .pddt {
        padding: 20px 0;
    }

    .right-product label {
        color: #042017;
    }

    .right-product input {
        width: 20%;
    }

    .right-product address {
        padding-bottom: 30px;
        border-bottom: 1px dotted #808080;
    }

/*#endregion */

/*#region repair */
#repair {
    width: 660px;
    margin-top: 60px;
}
/*#endregion*/

/* #region recover-password */
#recover-password {
    text-align: center;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    padding-top: 67px;
    padding-bottom: 73px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/account/photo-of-succulent-plants-1903969.jpg);
    background-position: center;
    background-size: cover;
}

#recover-password .form-box {
        width: 400px;
        height: auto;
        margin: 6% auto;
        background-color: #fff;
        padding: 5px;
        position: relative;
        box-shadow: 0 0 40px 20px #000;
        animation-name: moveInRight2;
        animation-duration: 2s;
    }

    #recover-password .form-box h2 {
        margin-top: 15px;
        text-align: center;
        color: rgb(26, 39, 35);
    }

    #recover-password .form-box h5 {
        margin: 25px 0;
        color: rgb(12, 151, 109);
    }

    #recover-password .input-field {
            width: 100%;
            padding: 10px 0;
            margin: 20px 0;
            border-left: none;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid #999;
            background: transparent;
            outline: none;
        }

        #recover-password .submit-btn {
            width: 50%;
            margin-bottom: 20px !important;
            padding: 10px 30px;
            cursor: pointer;
            display: block;
            margin-top: 60px !important;
            margin: auto;
            background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
            border: none;
            outline: none;
            border-radius: 30px;
        }


/* #endregion */

/* #region send-email */
.send-email {
    text-align: center;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    padding-top: 67px;
    padding-bottom: 73px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/account/photo-of-succulent-plants-1903969.jpg);
    background-position: center;
    background-size: cover;
}

    .send-email .form-box {
        width: 400px;
        height: auto;
        margin: 6% auto;
        background-color: #fff;
        padding: 5px;
        position: relative;
        box-shadow: 0 0 40px 20px #000;
        animation-name: moveInRight2;
        animation-duration: 2s;
    }

    .send-email .form-box h2 {
        margin-top: 15px;
        text-align: center;
        color: rgb(26, 39, 35);
    }

    .send-email .form-box h5 {
        margin-top: 15px;
        color: rgb(12, 151, 109);
    }

        .send-email .input-field {
            width: 100%;
            padding: 10px 0;
            margin: 20px 0;
            border-left: none;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid #999;
            background: transparent;
            outline: none;
        }

           .send-email  a {
                text-decoration: none;
                width: 40%;
                padding: 10px 30px;
                display: block;
                margin-top: 60px !important;
                margin: auto;
                font-size: 19px;
                font-weight: 750;
                background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
                color: #fff;
                border-radius: 30px;
        }


/* #endregion*/

/*#region service-home */
.service-home {
    margin: 20px 0;
}

    .service-home .serviceLeft {
        animation-name: moveInLeftService;
        animation-duration: 2s;
    }

    .service-home .serviceRight {
        animation-name: moveInRightService;
        animation-duration: 2s;
    }

    .service-home a img {
        margin-top: 5px;
    }

/*#endregion */

/*#region styled_header */
.styled_header {
    margin-bottom: 30px;
    
    margin-top: 40px;
}

    .styled_header .title-line {
        text-transform: uppercase;
    }

        .styled_header .title-line h3 {
            font-family: 'Comfortaa', cursive;
            padding: 0;
            text-align: center;
        }

        .styled_header .title-line h4 {
            font-family: 'Comfortaa', cursive;
            font-size: 19px;
            background: #fff;
        }

/*#endregion */

/*#region table */
    .table{  
        max-height: 100px;
    }

    .table .tr {
        padding: 0;
    }

    .table td, .table th {
        vertical-align: inherit;
    }

    /* image */
    .table .image{
        text-align: center;
    }

    .table img{
        max-height: 100px;
        max-width: 80px;
    }

    /* item */
    .table .item{
        text-align: left;
    }

    .table a {
        color: #000;
        text-decoration: none;
        outline: none;
    }

    .table a:hover {
        color: rgb(86, 223, 166);    
    }

    /* qty */
    .table .qty{
        text-align: center;
    }

    .table .qty .qtys {
        display: flex;
        justify-content: center;
    }

    .table .qty button{
        font-size: 16px;
        color: #427c63;
        border: 1px solid rgba(204, 204, 204, 0.568);
        outline: none;
        height: auto;
        width: 25px;
        text-align: center;
    }

    .table .qty button:hover{
        color: #427c63;
        background-color: rgb(223, 221, 221);
    }

    .table .qty .left-qty{
        border-radius: 3px 0 0 3px;
    }

    .table .qty .right-qty{
        border-radius: 0 3px 3px 0;
    }

    .table .qty button .fa{
        font-weight: 800;    
    }


    .table .qty .item-quantity{
        color: #2c4f20;
        border: 1px solid rgba(204, 204, 204, 0.959);
        box-shadow: #333333;
        outline: none;
        height: 35px;
        width: 45px;
        text-align: center;
    }

    /* price */
    .table .price {
        text-align: right;
    }

    .table .price ul {
        margin-bottom: 0;
    }

    .table .price ul li {
        list-style: none;
    }

    .table .price .strike-through {
            color: #999;
            text-decoration: line-through;
        }

    /* remove */
    .table .remove{
        text-align: right;
    }
    /*#endregion */

/*#region tab-cart*/
#tab-cart{
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    padding-top: 67px;
    padding-bottom: 73px;
    background-position: center;
    background-size: cover;
    color: #000;
}

#tab-cart h2{
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #156945;

}

/*#endregion*/

/*#region thumbnail */
.thumbnail {
}

    .thumbnail img {
        height: 149px;
        width: 100%;
    }

        .thumbnail img:hover {
            transform: scale(1.2);
            transition: 1s;
        }

    .thumbnail .product-sale {
        padding: 1px 5px !important;
        position: absolute;
        font-size: 12px;
        line-height: 16px;
        background-color: #e37d7d;
        border: none;
        top: 0;
        left: 0;
        color: #fff;
        z-index: 1;
    }

/*#endregion */

/*#region thumbSetting */
.thumbSetting {
    text-align: center;
    margin-top: 10px;
    height: 38px;
    font-size: 14px;
}

    .thumbSetting .thumbTitle {
    }

        .thumbSetting .thumbTitle a {
            font-weight: 500;
            color: #2c4f20;
            text-decoration: none;
        }

            .thumbSetting .thumbTitle a:hover {
                color: #82d6b2;
            }
/*#endregion */

/*#region thumbPrice */
.thumbPrice {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
    color: #82d6b2;
}

    .thumbPrice .strike-through {
        color: #999;
        text-decoration: line-through;
    }

.thumbButtons {
    text-align: center;
}

    .thumbButtons .btn {
        background: #82d6b2;
        border: 1px solid #808080;
    }

        .thumbButtons .btn:hover {
            background: #427c63;
        }
/*#endregion */

/*#region tutorial-tab-home */
#tutorial-tab-home {
    margin-bottom: 40px;
}

    #tutorial-tab-home .nav-tabs {
        border: none;
    }

        #tutorial-tab-home .nav-tabs li a {
            padding: 20px 0;
            text-transform: uppercase;
            font-family: 'Comfortaa', cursive;
            color: #2c4f20;
            background-color: #ebebeb;
            border-radius: 0;
            border-bottom: 4px solid #82d6b2;
        }

            #tutorial-tab-home .nav-tabs li a.active,
            #tutorial-tab-home .nav-tabs li a:hover {
                color: #82d6b2;
                background-color: #fff;
                border-bottom: 4px solid #fff;
            }

    #tutorial-tab-home .tab-content {
        text-align: justify;
        font-size: 18px;
        overflow: hidden;
        line-height: 50px;
    }

        #tutorial-tab-home .tab-content h3 {
            margin: 40px 0;
            text-transform: uppercase;
            padding: 10px 0;
        }

            #tutorial-tab-home .tab-content h3::before {
                content: '';
                width: 13px;
                padding: 20px 0;
                display: block;
                float: left;
                margin-right: 10px;
                border-radius: 10px;
                background-color: #fff647;
            }

        #tutorial-tab-home .tab-content img {
            margin-bottom: 40px;
        }

    #tutorial-tab-home .btn {
        background-color: #fff647;
        margin: 20px auto;
        display: block;
        width: 200px;
    }
/*#endregion */

/*#region update-cart*/
#update-cart{
    float: right;    
}
/*#endregion*/

/*#region information */
#information {
    width: 660px;
}

#information ul {
    margin-top: 100px;
    text-align: left;
}

#information ul li {
    list-style: none;  
}

#information ul li i {
    padding-right: 10px;
}

#information ul li span {
    color: salmon;
}

/*#endregion*/

/*#region inner-right*/
.inner-right{
    
}

.inner-right .checkout-buttons{
    margin-top: 15px;
}

.inner-right .checkout-buttons label{
    font-weight: bold;
    display: block;
}

.inner-right .checkout-buttons textarea{
    border-radius: 4px;
    height: 70px;
    border-color: #DDD7D7;
    margin-top: 3px;
    max-width: 100%;
    padding: 5px;
}

/*#endregion*/

.alert {
    margin-top: 40px;
}

/* sửa */
/* sửa */
/* sửa */
/* sửa */
/*#region tab-order-guide*/
#tab-order-guide{

}

#tab-order-guide .profile-card .order-box{
    width: 1200px;
    margin: 6% auto;
    padding: 20px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 40px 20px #000;
    animation-name: moveInRight2;
    animation-duration: 2s;
}


#tab-order-guide .profile-card .order-box h5{
    font-weight: 700;
    color: rgb(20, 109, 75);
}

#tab-order-guide .profile-card .order-box h5 span{
    font-size: 16px;
    font-weight: 400;
    color: rgb(117, 136, 129);
}

/* order */
#tab-order-guide .profile-card .order-box .order {
    padding: 10px;
    border: 2px solid rgba(153, 153, 153, 0.329);
}

#tab-order-guide .profile-card .order-box .order .order-title {
    border-bottom: 1px solid rgba(153, 153, 153, 0.329);
    color: indianred;
}

#tab-order-guide .order-box table thead{
   text-align: center;
}

#tab-order-guide .order-box table thead{
    font-weight: 600;
    color: rgb(20, 109, 75);
}

#tab-order-guide .order-box table tr .item {
    text-align: left;
}

#tab-order-guide .order-box table tr .code {
    text-align: center;
}

#tab-order-guide .order-box table tr .price {
    text-align: center;
}

#tab-order-guide .order-box table tr .qty {
    text-align: right;
}

#tab-order-guide .order-box table tr .total {
    text-align: right;
}

#tab-order-guide .order-box table tbody tr td span{
    color: rgba(20, 109, 75, 0.726);
}

/* buyer-profile */
#tab-order-guide .profile-card .order-box .buyer-profile {
    display: flex;
    margin-top: 20px;
}

#tab-order-guide .profile-card .order-box .buyer-profile h5 {
    text-transform: uppercase;
}

#tab-order-guide .profile-card .order-box .buyer-profile h6 {
    line-height: 30px;
}
#tab-order-guide .profile-card .order-box .buyer-profile h6 span {
    color: rgba(20, 109, 75, 0.726);
}

/*#endregion*/

.scrollable{
     max-height: 250px;
     overflow: auto;
}
.table .image {
    width: 86px;
}

.table .item {
    width: 560px;
}

.table .qty {
    width: 140px;
}
/* sửa */
/* sửa */
/* sửa */
/* sửa */

/* ran */
/* ran */
/* ran */
/* ran */
.rans{
   padding-right: 0; 
}

.ran{
    display: flex;
    left: 15px;
    right: 15px;
    padding-top: 15px;
    padding-left: 10px;
    background-color: rgba(146, 119, 119, 0.089);
    border-radius: 3px;
}



/* rating
/* rating */
/* rating */
/* rating */
.rantings {
    height: auto;
    padding: 0;
    margin-right: 50px;
}

.rantings h3{
    color: #ee4d2d;
    font-size: 18px;
}

.rating-wrappers {
    float: left;
    direction: rtl;
    display: flex;
}

.rating-wrappers input {
    display: none;
}

.rating-wrappers label{
    display: block;
    cursor: pointer;
    width: 25px;
    position: relative;
}

.rating-wrappers label::before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    font-size: 20px;
    display: block;
    color: rgba(153, 153, 153, 0.534);
}

.rating-wrappers label::after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    font-size: 20px;
    display: block;
    color: #ee4d2d;
    top: 0;
    left: 0;
    opacity: 0;
    transition:  .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating-wrappers label:hover::after,
.rating-wrappers input:hover ~ label::after,
.rating-wrappers input:checked ~ label::after{
    opacity: 1;
} 


.right-product h3{
    padding-bottom: 1px;
}

/* rantings */
/* rantings */
/* rantings */
/* rantings */
.ranting {
    display: flex;
    height: auto;
}

.ranting h5{
    font-size: 15px;
    color: #ee4d2d;
    margin-right: 2px;

}

.ranting .rating-wrapper {
    direction: rtl;
    display: flex;
}

.ranting .rating-wrapper input {
    display: none;
}

.ranting .rating-wrapper label{
    display: block;
    cursor: pointer;
    width: auto;
    position: relative;
}

.ranting .rating-wrapper label::before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    font-size: 13px;
    display: block;
    color: rgba(153, 153, 153, 0.534);
}

.ranting .rating-wrapper label::after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    font-size: 13px;
    display: block;
    color: #ee4d2d;
    top: 0;
    left: 0;
    opacity: 0;
    transition:  .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.ranting .rating-wrapper label:hover::after,
.ranting .rating-wrapper input:hover ~ label::after,
.ranting .rating-wrapper input:checked ~ label::after{
    opacity: 1;
}



    /* flex-a  */
    /* flex-a  */
    /* flex-a  */
    /* flex-a  */
    .flex-a {
        display: flex;
        height: 20px;
        margin-bottom: 20px;
    }

    .flex-a .flex-s{
        margin-left: 10px;
        padding: 0 10px;
        border-left: 3px solid rgba(153, 153, 153, 0.5);
    }

    .flex-a .flex-s h5{
       font-size: 17px;
    }

    .flex-a .flex-s h5 span{
        font-size: 16px;
        color: #969696;
     }

    .strike-throughs{
        font-size: 20px;
        color: #999;
        text-decoration: line-through;
     }

     /* styled_headers */
     /* styled_headers */
     /* styled_headers */
     .styled_headers{
         margin-bottom: 0;
         margin-top: 20px;
     }

     .styled_headers .title-line {
        text-transform: uppercase;
    }

        .styled_headers .title-line h3 {
            font-family: 'Comfortaa', cursive;
            padding: 0;
            text-align: center;
        }

        .styled_headers .title-line h4 {
            font-family: 'Comfortaa', cursive;
            font-size: 19px;
            background: #fff;
        }

 /* product-ranting */
 /* product-ranting */
 /* product-ranting */
 /* product-ranting */
 .product-ranting{
     display: flex;
 }

 .product-ranting .ranting-filter{
     color: #000;
     cursor: pointer;
     margin-top: 7px;
     margin-right: 20px;
     padding: 5px 15px;
     height: 40px;
     width: auto;
    border: 1px solid rgba(153, 153, 153, 0.541);
    border-radius: 3px;
    background-color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fff;
    background-color: #ee4d2d93;
}

/* pills-tabContent */
/* pills-tabContent */
#pills-tabContent{
    background-color: rgba(146, 119, 119, 0.089);
    margin-left: 15px;
}

/* product-ranting-list-left */
/* product-ranting-list-left */
/* product-ranting-list-left */

.product-ranting-list{
    margin-right: 0;
    background-color: rgba(146, 119, 119, 0.089);
}

.product-ranting-list li{
    padding-top: 10px;
    border-top: 1px solid rgba(128, 111, 111, 0.205);
}

.product-ranting-item{
    display: flex;
}

.product-ranting-item-left{
    width: 60px;
    margin-left:10px;
}

.product-ranting-item-left .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.product-ranting-item-left img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.product-ranting-item-right{
    margin-left: 10px;
    display: block;
}

.product-ranting-item-right .name{
    font-size: 14px;
    color: rgb(100, 98, 98);
}

.product-ranting-item-right .product-name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgb(100, 98, 98);
    margin-bottom: 5px;
}

.product-ranting-item-right .description {
    font-family: sans-serif;
}

/* .product-detail .row ul */
/* .product-detail .row ul */
.product-detail .row ul{
    margin-right: 0;
    padding:0;
}

/* appraise */
/* appraise */
.appraise-img {
    min-height: 100px;
}

#appraise li{
    margin-right: 10px;
    width: 80px;
    height: 80px;
    border: none;
}

#appraise li img{
    margin-right: 10px;
    width: 100%;
    height: 100%;
    border: none;
}

.img-fluid{
    width: 127px;
    height: 100px;
}

#main-carousel .thumb{
    display: flex;
}

#main-carousel .thumb .coll{
    padding-left: 5px;
    padding-right: 5px;
}

#main-carousel .thumb .coll img{
    border:  4px solid #fff;
}

#main-carousel .thumb .coll.active img{
    border:  4px solid #37ecba;
}

/* sort-collection */
/* sort-collection */
/* sort-collection */
.sort-collection {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    color: #2c4f20;
    font-weight: 400;
    margin: 60px 45px 5px 40px;
}

.sort-collection h3{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.sort-collection .browse-tags {
    float: right;
    padding-bottom: 0px;
}

.sort-collection .browse-tags .custom-dropdown {
    width: 180px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.sort-collection .browse-tags .custom-dropdown__select {
    height: 36px;
    padding: 0 34px 0 12px;
    border: 1px solid #d1e6d6;
    background: transparent;
    outline: 0;
}

/* .service-home a */
.service-home a .img-fluid{
    width: 100%;
    height: 100%;
}

/* sửa */
/* sửa */
/* sửa */
/* sửa */

.right-product input {
    width: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
}

    /* buttonDetail */
    .buttonDetail {
        margin-top: 20px;
    }

    .buttonDetail .btn {
        height: 50px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
    }

    .buttonDetail .btn-plus {
        background-color: #e37d7d;
    }

    .buttonDetail .btn-buy {
        background-color: #629978;
    }

    /*#region addToCart*/

        /* modal-content */
        .modal-content {
        }
        
        /* modal-header */
        .modal-content .modal-header {
            padding: 15px 0px;
            background: #e37d7d;
            border-bottom: 1px solid rgba(153, 153, 153, 0.664);
        }

        .modal-content .modal-header .modal-title {
            text-transform: uppercase;
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            padding-left: 16px;
        }

        .modal-content .modal-header .close {
            color: #fff;
            font-weight: 700;
            font-size: 25px;
            padding-right: 30px;
        }

        /* modal-body */
        .modal-content .modal-body {
            padding-top: 0;
            
        }

        .modal-content .modal-body table {
            font-family: sans-serif;

        }

        .modal-content .modal-body table thead {
            line-height: 21px;
            font-size: 16px;
            color: #2c4f20;
            font-weight: 700;
        }

        /* image */
        .modal-content .modal-body table tbody .image {
            width: 170px;
            text-align: center;
            height: 70px;
        }

        .modal-content .modal-body table tbody .image img {
            max-width: 70px;    
        }

        /* title */
        .modal-content .modal-body table tbody .title {
            font-size: 14px;
            padding-right: 10px;
            max-width: 100px !important;
            width: 40%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .modal-content .modal-body table tbody .title a {
            color: #315437;
            text-decoration: none;
            outline: none;
        }

        .modal-content .modal-body table tbody .title a:hover {
            color: #2ec499;
        }

        /* price */
        .modal-content .modal-body table .price {
            text-align: center;        
        }

        /* modal-note */
        .modal-content .modal-body .modal-note {
            text-align: left;
        } 

        .modal-content .modal-body .modal-note textarea {
            outline: none;
            border: 1px #D8D8D8 solid;
            padding-left: 10px;
            height: 70px;
            padding-top: 5px;
            width: 100%;
        } 

        /* total-price-modal */
        .modal-content .modal-body .total-price-modal {
            text-align: right;
            margin-top: 20px;
            color: #808080;
            font-size: 16px;
        } 

        .modal-content .modal-body .total-price-modal span {
            font-size: 20px;
            color: #303030;
            vertical-align: middle;
        } 

        /* comeback */
        .modal-content .modal-body .comeback {
            text-align: left;
            margin-top: 30px;
        } 

        .modal-content .modal-body .comeback a {
            text-decoration: none;
            color: #315437;
            font-size: 16px;
            font-weight: bold;
            line-height: 22px;
        } 

        .modal-content .modal-body .comeback a:hover {
            color: #2ec499;
        } 

        .modal-content .modal-body .comeback a i {
            margin-right: 10px;
        } 

        /* btn-modal-cart */
        .modal-content .modal-body .btn-modal-cart {
            width: 150px;
            float: right;
            padding-left: 5px;
            padding-right: 5px;
        } 

        .modal-content .modal-body .btn-modal-cart .button-default {
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 0 !important;
            text-transform: uppercase;
            height: 40px;
            line-height: 38px;
            font-size: 13px;
            color: #333333;
            background-color: #ffffff;
            border: 1px solid #333333;
            letter-spacing: 0;
        } 

        .modal-content .modal-body .btn-modal-cart .button-default:hover {
            background-color: #2ec499;
            color: #fff;
        } 


    /*#endregion*/

    .table-striped .image {
        width: 170px;
    }

    .table-striped .title {
        width: 40%;
    }

    .table-striped .qty {
        width: 140px;
    }

    .table-striped .price {
        text-align: center;
        width: 317px;
}


.table .qty button {
    margin-top: 10px;
    height: 35px;
    width: 25px;
}
.scrollable {
    margin-bottom: 20px;
}

.table .qty .item-quantity {
    margin-top: 10px;
}

.modal-content .modal-body table {
    font-family: sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
}